* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: initial !important;
    font-family: 'Montserrat', sans-serif;
}
p {
    font-size: 30px;
    font-weight: 500;
}
header {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-image: url("Img-home/banner.png");
    background-size: cover;
    background-position: center;
    height: 500px;
}
.banner {
    position: absolute;
    text-align: center;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: 7vw;
}
.banner .bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 10vw;
    white-space: nowrap;
}
.banner .script {
    font-family: 'Sacramento', cursive;
    font-weight: 100;
    color: #C0C70A;
    font-size: 10vw;
}
nav {
    height: 50px;
    padding: 0;
    margin: 0;
    align-self: center;
}
.logo {
    display: flex;
    font-size: 30px;
    color: white;
}
.str {
    font-weight: 800;
}
.th {
    font-weight: 100;
}
nav .logo {
    position: absolute;
    width: 200px;
    top: 2%;
    left: 2%;
}
nav ul {    
    position: fixed;
    width: 100%;
    height: fit-content;
    background-color: white;
    margin: 0;
    padding:0;
    top: 10%;
    right: -100%;
    text-align: center;
    z-index: 11;
}
nav ul li {
    display: block;
    margin: 0;
    padding: 20px 0;
}
nav ul li a {
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
nav ul li:hover {
    background-color: #C0C70A;
    
}
nav ul li a:hover {
    color: white
}
label {
    display: flex;
    margin: 0;
    padding: 0;
}
label #sign-one,
label #sign-two {
    font-size: 40px;
    color: #fff;
    line-height: 50px;
    margin: 10px 5% 0 auto;
    cursor: pointer;
    display: none;
}
label #sign-one {
    display: block;
}

#hid-nav {
    display: none;
}
#hid-nav:checked ~ ul {
    right: 0;
}
#hid-nav:checked ~ label #sign-one{
    display: none;
}
#hid-nav:checked ~ label #sign-two{
    display: block;
}
footer {
    position:static;
    width: 100%;
    bottom:0;
    background: linear-gradient(to right, #00093c,#2d0b00);
    color: white;
    padding: 50px 5%;
    margin-top: 5%;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
footer .row {
    width:100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
footer .row div {
    text-align: center;
}
footer .logo{
    margin-bottom: 50px;
    justify-content:center;
}
footer .sum {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}
footer h3 {
    margin: 0 0 30px;
    white-space: nowrap;
    font-weight: 600;
}
.info {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.info ul {
    margin: 0;
    padding: 0;
}
.info li {
    padding: 5px 0;;
}

.info li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.info li a:hover {
    color:#C0C70A;
    font-weight: 600;
}
.social-icons {
    white-space: nowrap;
}
.social-icons .fab {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 30px;
        margin-right: 10px;
        color: black;
        background-color: white;
    }

@media screen and (min-width: 992px) {
    nav ul {
        position: absolute;
        width:auto;
        margin-left: auto;
        top:2%;
        right: 0;
        margin-right: 20px;
        padding: 5px;
        background-color: rgba(2,2,2,0);
        transition: none;
    }
    nav ul li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    nav ul li a{
        color: white;
        padding: 10px 20px;
    }
    nav ul li:hover {
        background-color: rgba(2,2,2,0);
        width: fit-content;
    }
    nav ul li a:hover {
        background-color: #C0C70A;
        width: fit-content;
        border:none;
        border-radius: 25px;
    }
    #hid-nav {
        display:none !important;
    }
    #hid-nav ~ label #sign-one{
        display: none;
    }
    #hid-nav~ label #sign-two{
        display: none;
    }
    .banner {
        line-height: 5vw;
    }
    .banner .bold {
        font-size: 5vw;
    }
    .banner .script {
        font-size: 5vw;
    }
    footer .row {
        width:100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items:flex-start;
        justify-content: space-between;
    }
    footer .row div {
        text-align:left;
    }
    footer .logo{
        justify-content:flex-start;
    }
}

@media screen and (min-width: 768px) {
    nav ul {
        transition: none;
    }
    .banner {
        line-height: 6vw;
    }
    .banner .bold {
        font-size: 8vw;
    }
    .banner .script {
        font-size: 8vw;
    }
    footer .row div {
        text-align:left;
    }
    footer .logo{
        justify-content:flex-start;
    }
    .social-icons .fab {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        font-size: 25px;
    }
}