* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    overflow-x: hidden;
}
    .row::after {
    content: "";
    clear: both;      
}
p {
    color: #556270;
}
nav {
    background-color: #556270;
    padding: 20px 30px;
}
.navbar {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    justify-content:space-between;
}
nav a {
    text-decoration: none;
    font-family: 'Archivo Narrow', sans-serif;
    color: white;
    padding: 5px;
    white-space: nowrap;
}
.box {
    position: relative;
    width: 100%;
}
.intro {
    position: relative;
    background-size: 50px;
    margin: 10% 30px;
    border-bottom: 2px solid #E2E2E2; 
}
.icontent {
    text-align: left;
    color: black;
}
.icontent h1 {
    font-family: 'Source Serif Pro', serif;
    font-size: 40px;
}
.key_text {
    margin: 20px 30px;
}
.key_text h2 {
    font-family: 'Source Serif Pro', serif;
    font-size: 40px;
}
.key_image {
    margin: 10px 20px;
}
img {
    display: inline-block;
    width:100%;
    padding-bottom: 30px;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
[class*="col-"] {
    float: left;
    margin: 0;
    padding: 0 10px;
}
.row .top {
    float: top;
}
.row .bottom {
    float: bottom;
}
footer {
    display: grid;
    clear: both;
}
footer .row {
    margin: 10px 30px;
}
footer h3 {
    font-family: 'Source Serif Pro', serif;
    font-size: 40px;
}
footer a {
    text-decoration: none;
    color: #61cccf;
}
@media screen and (min-width: 992px) {
    nav {
    background-color:white;
    padding: 10px 60px;
    }
    nav a {
        color:  rgb(98, 99, 100);
    }
    a #help, a #login, #signup {
        margin-left:auto;
    }
    main {
        display: block;
        background-color: #EFEFEF;
        border-bottom: 2px solid #E2E2E2;
    }
    .intro {
        position: relative;
        background-image: url("https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png");
        background-size: cover;
        height: 500px;
        margin: 0;
    }
    .icontent {
        position: absolute;
        text-align: left;
        color: white;
        left: 60px;
        top:25%;
    }
    .icontent h1 {
        font-family: 'Source Serif Pro', serif;
        font-size: 40px;
    }
    .icontent p {
        color: white;
    }
    .key_text {
        margin: 20px 60px;
    }
    .key_text h2 {
        font-family: 'Lato', sans-serif;
        padding-bottom: 10px;
        font-size: 25px
    }
    .key_image {
        margin: 10px 60px;
    }
    footer {
        display: flex;
        background-color: #F7F7F7;
    }
    footer .row {
        margin: 10px 60px;
    }
    footer h3 {
        font-family: 'Source Serif Pro', serif;
        font-size: 20px;
        padding-top: 20px;
    }
    footer a {
        text-decoration: none;
        color: #61cccf;
    }
}
@media screen and (min-width: 768px) {
    nav a {
        padding: 10px;
    }
    a #help, a #login, #signup {
        margin-left:auto;
    }
}